.splashBackground {
  width: 100vw;
  height: 100vh;
  background-color: $bg-color-dark-theme;
  background: radial-gradient(ellipse at top, $very-dark-blue 0%, $bg-color-dark-theme 60%);

  @media (max-width: 1024px) {
  background: linear-gradient($very-dark-blue 0%, $bg-color-dark-theme 70%);
  }
}

.container {
  color: $primary-text-dark-theme;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pictureContainer {
  position: relative;
  width: 300px;
  height: 300px;

  @media (max-width: 1024px) {
    width: 250px;
    height: 250px;
  }

  @media (max-width: 728px) {
    width: 200px;
    height: 200px;
  }
}

.vernonImage {
  border-radius: 50%;
  padding: 10px !important;
}

.title {
  display: block;
  font-size: 48px;
}

.infoWrapper {
  color: $secondary-text-dark-theme;
}

.internalLinkWrapper {
  padding-top: 50px;
}

.blueGlow {
  animation: glow 1s infinite alternate;
}

.arrowContainer {
  margin-top: 40px;
  margin-bottom: 30px;
}

.buttonBlue {
  display: inline-block;
  border-radius: 6px;
  border: 2px solid $light-blue;
  color: $light-blue;
  padding: 10px 30px;
  font-size: 18px;
}

.buttonBlue:hover {
  color: #fff;
  background-color: $light-blue;
  text-decoration: none;
}

.buttonPink {
  display: inline-block;
  border-radius: 6px;
  border: 2px solid $light-pink;
  color: $light-pink;
  padding: 10px 30px;
  font-size: 18px;
}

.buttonPink:hover {
  color: #fff;
  background-color: $light-pink;
  text-decoration: none;
}