.chartContainer {
  height: 300px;
  margin-top: 50px;
}

.noDataContainer {
  margin: 0 auto;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.noDataMessage {
  color: $light-blue;
  animation: pulse 5s infinite;
}

.chartWarning {
  color: $secondary-text-dark-theme;
}