// Dark Theme
$bg-color-dark-theme: #1c1f26;
$primary-text-dark-theme: #e2e4e9;
$secondary-text-dark-theme: #b6bbc9;

// Light Theme
$bg-color-light-theme: #ffffff;
$primary-text-light-theme: #0e0e0e;
$secondary-text-light-theme: #2f2f2f;

$light-blue: rgba(0, 210, 255, 1);
$light-blue-transparent: rgba(0, 210, 255, 0.9);
$light-pink: rgba(255, 51, 255, 1);
$light-pink-transparent: rgba(255, 51, 255, 0.9);
$light-purple: rgba(190,169,223, 1);
$light-purple-transparent: rgba(190,169,223, 0.9);